---
---

@import "{{ site.theme }}";

/* hide credits text */
.credits {
  display: none !important;
}

/* remove extra header spacing */
header {
  padding-bottom: 10px !important;
}

header p {
  display: none !important;
  margin: 0 !important;
}

/* tighten spacing between title and content */
header h1 {
  margin-bottom: 5px !important;
}

header h2 {
  margin-bottom: 10px !important;
}
